@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  :root {
    --header-nav-height: 44px;
    --header-height: 52px;
    --header-total-height: calc(44px + 52px);
    --hero-height: calc(100svh - var(--header-total-height));
  }
}
